<!-- Four Cards at Top -->
			<section class="section section-daily-stats center">
				<div class="row">
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">
							<h5>Account Balance</h5>
							<div class="divider"></div>
							<h4 class="">$ 23,764.87</h4>
							<div class="">
								<div class="" style="width:60%;"></div>
							</div>
						</div>
					</div>
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">
							<h5>Cash</h5>
							<div class="divider"></div>
							<h4 class="">{{user.cashFormatted}}</h4>
							<div class="">
								<div class="" style="width:35%;"></div>
							</div>
						</div>
					</div>
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">
							<h5>Investment</h5>
							<div class="divider"></div>
							<h4 class="">$ 54,324.34</h4>
							<div class="">
								<div class="determinate white" style="width:80%;"></div>
							</div>
						</div>
					</div>
					<div class="col l3 m6 s12">
						<div class="card-panel center z-depth-5">							
							<h5>ROI</h5>
							<div class="divider"></div>
							<h4 class="">$ 15,547.87</h4>
							<div class="">
								<div class="" style="width:50%;"></div>
							</div>
						</div>
			</section>