<head>
	<meta charset="utf-8">
	 <link rel="shortcut icon" href="/img/placeholder_favicon.png" type="image/x-icon">
  <meta charset="utf-8">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Local Style-->
  <link rel="stylesheet" href="/styles/dashboard_styles.css" media="screen" title="no title" charset="utf-8">
  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro" rel="stylesheet">
  <!--Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/index.js"></script>
	<title>Trading Grounds</title>
</head>
