<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/placeholder_favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Local Style-->
    <link rel="stylesheet" href="/styles/dashboard_styles.css" media="screen" title="no title" charset="utf-8">
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
    <!--Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Webticker Javascript-->
    <script src="/js/jquery.webticker.min.js"></script>
    <!--ADDED FOR THE GRAPH/////////////////////////////////////////////-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--ADDED FOR THE GRAPH/////////////////////////////////////////////-->
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <!--Required for 3D Chart-->
     <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!--Local Script-->
    <script src="/js/index.js"></script>
    <title>Trading Grounds</title>
</head>