
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2018 Trading Grounds
      <a class="text-lighten-4 right" href="https://github.com/Trading-Grounds">
        <img src="/img/GitHub-Mark-Light-32px.png">
      </a>
    </div>
  </div>
</footer>

</body>

</html>