<!--Fixed Side Navigation -->
<ul id="slide-out" class="sidenav sidenav-fixed">
	<li>
		<div class="user-view">
			<div class="background"></div>
			<a href="#user"><img class="circle" src="/img/headshot_placeholder.png"></a>
			<span class="white-text name user-info">{{user.username}}</span>
			<span class="white-text email user-info">{{user.email}}</span>
			<div class="card-small">
				<span class="white-text account user-info">{{accountInfo.balance}}</span>
			</div>
		</div>
	</li>

	<!--Log Out Button-->
	<li id="logout-link">
		<a href="/logout" class="white-text logout-link">Logout</a>
	</li>

	<!--Search Box in Fixed Side Navigation-->
	<nav>
		<div class="nav-wrapper">
			<form id="search-form">
				<div class="input-field">
					<input id="search" type="search" placeholder="stock symbol" required>
					<label class="label-icon" for="search"><i id="search-icon" class="material-icons">search</i></label>
					<i id="search-close" class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>

	<!--Page Links-->
	<ul>
		<!--Dashboard Link-->
		<li>
			<a class="collapsible-header white-text waves-effect waves-green accent-4" href="/dashboard">HOME</a>
		</li>
		<ul class="collapsible collapsible-accordion">
			<!--Portfolio Collapsible Link-->
			<li>
				<a class="collapsible-header white-text waves-effect waves-green accent-4">PORTFOLIO</a>
				<div class="collapsible-body">
					<ul>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/investments">Investments</a></li>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/watchlist">Watchlist</a></li>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/transactions">Transactions</a></li>
					</ul>
				</div>
			</li>

			<!--Stock Collapsible Link-->
			<li>
				<a class="collapsible-header white-text waves-effect waves-green accent-4">STOCKS</a>
				<div class="collapsible-body">
					<ul>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/stocks/movers/nasdaq">Top Movers</a></li>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/stocks/volume/nasdaq">Volume</a></li>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/stocks/marketcap/nasdaq">Market Cap</a></li>
						<li> <a class="white-text waves-effect waves-green accent-4" href="/stocks/sector/basic%20industries">Sector</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</ul>
	<!--Contact Link-->
	<li>
		<a class="collapsible-header white-text waves-effect waves-green accent-4" href="/contact">CONTACT</a>
	</li>
	
	<li class=" row footer-copyright">
		<div class="social-icon">
			<div class="col s10">
				© <span id="copyright-date"></span> Trading Grounds
				<a class="text-lighten-4 right" href="https://github.com/Trading-Grounds">
					<img src="/img/GitHub-Mark-Light-32px.png">
				</a>
			</div>
		</div>
	</li>
</ul>

<ul class="right hide-on-med-and-down">
	<!--Portfolio-->
	<li class="hide-drop"><a class="dropdown-trigger waves-effect waves-green accent-4" href="#!" data-target="dropdown1"><i
			 class="material-icons">place</i>PORTFOLIO<i class="material-icons right">arrow_drop_down</i></a></li>
	<ul id='dropdown1' class='dropdown-content'>
		<li> <a href="investments">Investments</a></li>
		<li> <a href="watchlist">Watchlist</a></li>
		<li> <a href="transactions">Transactions</a></li>
	</ul>
	<!--Stocks-->
	<li class="hide-drop"><a class="dropdown-trigger waves-effect waves-green accent-4" href="#!" data-target="dropdown1"><i
			 class="material-icons">place</i>STOCKS<i class="material-icons right">arrow_drop_down</i></a></li>
	<ul id='dropdown1' class='dropdown-content'>
		<li> <a href="/stocks/movers/nasdaq">Top Movers</a></li>
		<li> <a href="/volume">Volume</a></li>
		<li> <a href="/marketcap">Market Cap</a></li>
		<li> <a href="/stocks/sector/basic%20industries">Sector</a></li>
	</ul>
</ul>



<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i id="hamburger-menu" class="material-icons">menu</i></a>