{{> header}}

<body class="page-background" id="index">

    <nav class="no-shadows">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">TG</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">New User</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="card-panel">

                <div class="row center-align">
                    <div class="col s12 m12 l12">

                        <h2>Getting Started with Trading Grounds</h2>
                    </div>
                </div>
                <div class="row center-align">

                    <div class="container">
                        <div class="col s12 m12">
                            <p class="flow-text">Getting started in investing can be a tremendously stressful,
                                frightening
                                and downright
                                overwhelming experience. Many would-be investors are turned away by just the sheer
                                amount
                                of
                                information available. Even those that become familiar with this information often
                                times
                                lack
                                the confidence or means to put their knowledge to use and begin investing.
                            </p>
                            <p class="flow-text">
                                Trading Grounds addresses all of these issues by providing a fun, educational and
                                risk-free
                                environment for both beginners and experienced investors alike to put their skills to
                                the
                                test!

                                By using real-time market data and mimicking real life circumstances, Trading Grounds
                                is
                                the
                                perfect platform to help you <a href="/register">Getting Started</a> on your
                                journey into the world of investment!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{> footer}}