{{> header}}

<body class="page-background" id="index">

	<nav class="no-shadows">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">TG</a>
		</div>
	</nav>

	<main>
		<div class="container">
			<div class="row center-align">
				<div class="col s12 m12">
					<h1>Trading
						<i class="large material-icons">account_balance</i>
						Grounds</h1>
				</div>
			</div>

			<!--Login Form-->
			<div class="container">
				<div class="row">
					<form id="login" class="col s12 m12 l12" name="login" method="post" action="/login">
						<div class="row">
							<div class="card-panel">
								<div class="input field col s6">
									<input class="validate white-text" type="text" id="username" name="username" placeholder="Username" value="{{user.username}}" autofocus>
								</div>
								<div class="input field col s6">
									<input class="validate white-text" type="password" id="password" name="password" placeholder="Password" value="{{user.password}}">
								</div>
								<div class="row center-align">
									<div class="col s12 m12 l12">
										{{#if errors}}
										<ul class="wrong-login">
											{{#each errors}}
											<li class="">{{this}}</li>
											{{/each}}
										</ul>
										{{/if}}
									</div>
								</div>
								<div id="login-button" class="row center-align">
									<div class="col s12 m12 l12">
										<button class="btn waves-effect waves-light" type="submit" id="submit" value="Log In" name="action">Submit
											<i class="material-icons right">send</i>
										</button>
										<ul>
											<li>Don't have an account? <a href="/register">Create one!</a></li>
											<li>Forgot Password? <a href="/reset">Reset it!</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

	{{> footer}}