	{{#if errors}}
		<ul class="">
		{{#each errors}}
			<li class="">{{this}}</li>
		{{/each}}
		</ul>
	{{/if}}
	
	{{#if messages}}
		<ul class="">
		{{#each message}}
			<li class="">{{this}}</li>
		{{/each}}
		</ul>
	{{/if}}
	
	<h2>Reset Password</h2>
	<form method="post">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" placeholder="Password" value="{{user.password}}">
		<label for="confirm_password">Confirm Password</label>
		<input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" value="{{user.confirm_password}}">
		<input type="submit" id="submit" value="Update Password">
	</form>