{{> dashboardheader}}

<body class="page-background" id="dashboard">

    <header>
        <h1>Purchase Stock</h1>
    </header>

    {{> sidenav}}

    <!--Main Content-->
    <main id="main-area">
        <!--Main Card-->
        <div id="main-card" class="card-panel z-depth-5">

            <!-- Four Cards at Top -->
            <section class="section section-daily-stats center">
                <div class="row">
                    <div class="col l3 m6 s12">
                        <div class="card-panel center z-depth-5">
                            <h5>Account Balance</h5>
                            <div class="divider"></div>
                            <h4 class="">$ 23,764.87</h4>
                            <div class="">
                                <div class="" style="width:60%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 s12">
                        <div class="card-panel center z-depth-5">
                            <h5>Cash</h5>
                            <div class="divider"></div>
                            <h4 class="">$ 15,207.65</h4>
                            <div class="">
                                <div class="" style="width:35%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 s12">
                        <div class="card-panel center z-depth-5">
                            <h5>Investment</h5>
                            <div class="divider"></div>
                            <h4 class="">$ 54,324.34</h4>
                            <div class="">
                                <div class="determinate white" style="width:80%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 s12">
                        <div class="card-panel center z-depth-5">
                            <h5>ROI</h5>
                            <div class="divider"></div>
                            <h4 class="">$ 15,547.87</h4>
                            <div class="">
                                <div class="" style="width:50%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--Stock View-->
            <section>
                <div class="container">
                <div class="row center-align">
                    <div class="col l12 m12 s12">

                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card">
                                    <div class="card-content white-text">
                                        <span class="company-name">
                                            <h4>
                                                Company Name
                                            </h4>
                                        </span>
                                        <span class="card-title">
                                            <h1>
                                                Stock Symbol
                                            </h1>
                                        </span>
                                        <span class="share-price">
                                            <h3>
                                                $ 0,000.00
                                            </h3>
                                        </span>
                                        <span class="share-qty">
                                            <div class="input-field col s12 m6 l6">
                                                <input placeholder="Number of Shares" id="" type="text">
                                            </div>
                                        </span>
                                        <div class="row center-align">
                                            <div class="col s12 m6 l12">
                                                <span class="total-purchase">
                           
                                                    <h3>
                                                        $ 0,000.00
                                                    </h3>
                                                </span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="card-action">
                                        <a class="waves-effect waves-light btn" href="#">Purchase</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section>
        </div>
    </main>

    {{> footer}}