  {{>dashboardheader}}
    <button id="submitWeek">One Week Graph</button>
  <button id="submitMonth">One Month Graph</button>
    <button id="submitSix">Six Month Graph</button>
    <button id="submitYear">One Year Graph</button>
    <button id="submitFive">Five Year Graph</button>
    <div id="tester" style="width:600px;height:250px;"></div>