/*=============================Notes=========================*/
/*
Use for Headings
Font-Family: 'Playfair Display', Serif;
Font-Size: 48px;

Use for Content
Font-Family: 'Source Sans Pro', Sans-Serif;
Font-Size: 17px;

Use for Stock Ticker
font-family: 'Source Code Pro', monospace;
*/

/*Color Money Green*/
/* background:#84bb65b2; */
/*=============================================================*/

/*Default Styling on All Pages Excpet Main Landing Page. See styles.css for Main Landing Page Styling*/
body {
    /*Font Style*/
    Font-Family: 'Source Sans Pro', Sans-Serif;
    Font-Size: 17px;

    /*This is for Materialize Sticky Footer*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*Background Image with gradient overlay*/
#dashboard {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/img/new_york_bw.jpg");
}

.page-background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    background-attachment: scroll;
}

/*Requried for Materialize SideNav*/
header,
main,
footer {
    padding-left: 300px;
}

header {
    text-align: center;
    color: ghostwhite;
    Font-Family: 'Playfair Display', Serif;
    background: rgba(0, 0, 0, 0.541);
    padding: 0;

}
.hide-on-med-and-down {
	padding: 0;
	margin: 0;
}

/*==================SideNav Styling=================================*/
.sidenav {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*User Image*/
.circle {
    margin: auto;
}

.card-small {
    background: #84bb656e;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*User Name & Email*/
.user-view {
    text-align: center;
    Font-Family: 'Source Sans Pro', Sans-Serif;
    color: ghostwhite;
}

.logout-link {
    text-align: center;
}

#hamburger-menu {
    color: ghostwhite;
    height: 0;
}

.hide-drop {
    height: 0;
}

/*Search Bar*/
nav {
    background: #84bb656e;
}

.collapsible-body {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.material-icon {
    color: ghostwhite;
}

#search-icon {
    cursor: pointer;
}

.footer-copyright {
    color: ghostwhite;
    position: absolute;
    right: 0;
    bottom: 50;
    left: 0;
    text-align: center;
}

/*===================================End SideNav====================================================*/

#main-area {
    max-height: 100vh;
    overflow: auto;
}

#main-card {
    background: #84bb6534;
    margin-top: 0;
}

/*Card Panels*/
.card-panel {
    background: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    color: ghostwhite;
}

/*Materialize Sticky Footer*/
.page-footer {
    background: rgba(0, 0, 0, 0.616);
}

main {
    flex: 1 0 auto;
}

/*========================================END DEFAULT STYLING===========================================================*/

/*============================Dashboard Specific Styling===========================================*/

/*Stock Ticker*/
.ticker-color {
    color: ghostwhite;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    background: rgba(0, 0, 0, 0.541);
}

.capitalize {
    text-decoration: capitalize;
}

/*==========================Table's==============================================================*/
table {
    color: ghostwhite;
    border: transparent;
}

table>thead {
    background: #84bb6534;
}

table.highlight>tbody>tr:hover {
    background-color: #84bb6534;
}

td {
    font-weight: bold;
    font-size: 18px;
}

.stock-symbol {
    font-size: 24px;
}

.company-name {
    font-weight: 300;
}

.share {
    font-size: 24px;
}

.big-number {
    font-size: 24px;
}

.stock-row {
    cursor: pointer;
}

/*Chart*/
#pie {
    width: auto;
    height: auto;
}

/*=========================================End Dashboard Specific Styling=======================================================*/

/*===========================================Stock.hbs Styling=====================================================*/

.card-link {
    cursor: pointer;
}

.selected-link {
    font-weight: bold;
    cursor: default;
}

.js-hidden {
    display: none;
}

/*Reveal Card*/
.card {
    background: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    color: ghostwhite;
}

.card-content {
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    color: ghostwhite;
    background: rgba(0, 0, 0, 0.541);
}

h1, h5 {
    Font-Family: 'Playfair Display', Serif;
}

.time {
    color: #84bb65b2;
}

.descriptor {
    color: #84bb65b2;
}

.card .card-action {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.541);
    padding: 35px 30px;
}

.card-reveal {
    color: ghostwhite;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.541);
}

.card-title {
    Font-Family: 'Playfair Display', Serif;
}

#close-x {
    color: #84bb65b2;
}

.buy-button {
    float: left;
}

.sell-button {
    float: right;
}

/*=============================================End Stock.hbs Styling=================================================================*/

/*=============================================Watchlist Styling====================================================================*/
#watchlist-header {
    text-align: center;
}

/*===========================================End Watchlist Styling======================================================*/

/*===========================================Movers.hbs, Volume.hbs & Sector.hbs Styling==========================================================*/
.tabs {
    font-family: 'Source Code Pro', monospace;
}

.tabs .indicator {
    background-color: #84bb65b2;
    color: #84bb65b2;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: #84bb657a;
}

.tabs .tab a {
    color: #84bb65b2;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: #84bb65b2;
    color: #84bb65b2;
}


/*===========================================End Sector.hbs Styling==========================================================*/

/*===========================================Purchase.hbs Styling============================================================*/
#shares,#shares::placeholder {
    color: ghostwhite;
}

/*===========================================End Purchase.hbs Styling============================================================*/

/*===========================================Added by Cody===========================================*/

.gain {
	color: green;
}
.loss {
	color: red;
}
h1 {
	margin: 0;
	padding: 15px 0;
}
h1 span {
	font-size: 0.75em;
}
.small-number {
	padding-right: 20px;
	font-size: 15px;
}

/*============================================Media Queries==========================================================*/

/*Materialize Side Nav*/
@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }

    #hamburger-menu {
        height: auto;
        position: fixed;
    }
}