/*
Use for Headings
Font-Family: 'Playfair Display', Serif;
Font-Size: 48px;

Use for Content
Font-Family: 'Source Sans Pro', Sans-Serif;
Font-Size: 17px;
*/

body {
  /*Font Style*/
  Font-Family: 'Source Sans Pro', Sans-Serif;
  Font-Size: 17px;

  /*This is for Materialize Sticky Footer*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-background {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}

#index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/bull_wall_street.jpg");
}

nav {
  background: transparent;
  z-index: 0;
}

.no-shadows {
  box-shadow: none !important;
}

.brand-logo {
  Font-Family: 'Playfair Display', Serif;
  margin-left: 20px;
}

main {
  flex: 1 0 auto;
}

h1 {
  Font-Family: 'Playfair Display', Serif;
  Font-Size: 128px;
  color: ghostwhite;
}

h2 {
  Font-Family: 'Playfair Display', Serif;
  color: ghostwhite;
}

h4 {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  color: ghostwhite;
}

p {
  Font-Family: 'Source Sans Pro', Sans-Serif;
  color: ghostwhite;
}

.card-panel {
  background: rgba(0, 0, 0, 0.541);
  border-radius: 10px;
  color: ghostwhite;
}

.btn {
  background:#84bb65b2;
}

.wrong-login {
  color: red;
  font-size: 15px;
}

.wrong-register {
  color: red;
  font-size: 15px;
}

.wrong-reset {
  color: red;
  font-size: 15px;
}

.correct-reset {
  color: green;
  font-size: 15px;
}

.page-footer {
  background: transparent;
}